button{
    width: 100px;
    padding: 5px 5px;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: rgb(233, 31, 24);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}
.tags-input{
  border: 2px solid lightgray;
  border-radius: 40px;
  height: 40px;
  padding: 0 11px;
  font-size: 14px;
  display: flex;
  align-items: center;
  overflow: hidden;
  color: black;}

  .question{
  position: relative;
  padding: 10px 0;
    padding-top: 0;
    padding-bottom: 0;
  }
//   .transition{
     
//   @include transition( all 0.25s cubic-bezier(.53,.01,.35,1.5))}
  button{
//   @extend .transition;
  margin-top: 10px;
  background-color: white;
  border: 1px solid red;
  line-height: 0;
  font-size: 17px;
  display: inline-block;
  box-sizing: border-box;
  padding: 20px 15px ;
  border-radius: 60px;
  color: red;
  font-weight: 100;
  letter-spacing: 0.01em;
  position: relative;
  z-index: 1;
  :hover ,:focus{ color: white;
    background-color: red;}
}
  
  
  
    