.editBook{
    display: grid;
  border-color: #4CAF50;
  
}
button{
    width: 100px;
    padding: 10px 15px ;

    font-size: 15px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: rgb(233, 31, 24);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  
   
}